################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SmartAuditAPI2/bin/Debug/netcoreapp3.1
/SmartAuditAPI2/obj
